/*!
 * Slidebars - A jQuery Framework for Off-Canvas Menus and Sidebars
 * Version: 2 Development
 * Url: http://www.adchsm.com/slidebars/
 * Author: Adam Charles Smith
 * Author url: http://www.adchsm.com/
 * License: MIT
 * License url: http://www.adchsm.com/slidebars/license/
 */

/**
 * Box Model, Html & Body
 */
html, body, [canvas=container], [off-canvas] {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

/**
 * Canvas
 */
[canvas] {
	z-index: 1;
}

[canvas=container] {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	position: relative;
	/* Basic background color, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch;
	/* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[canvas=container]:before, [canvas=container]:after {
	clear: both;
	content: '';
	display: table;
}

/**
 * Off-Canavs
 */
.menu ul li a {
	width: 0.1px;
	font-size: 20px;
	text-decoration: none;
	display: block;
	color: white;
}

.link_tag1 {
	background-color: #ec1b5a;
}

.link_tag2 {
	background-color: #79aefe;
}

.link_tag3 {
	background-color: #314190;
}

.link_tag4 {
	background-color: #279636;
}

.link_tag5 {
	background-color: #7d5d81;
}

.link_tag6 {
	background-color: #FFB432;
}

.menu ul li {
	list-style: none;
	float: left;
	vertical-align: middle;
	text-align: left;
	width: 130px;
}

.title, .link_tag {
	color: white;
}

.menu ul li a:hover, .menu ul li a.open:hover {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition: width .2s ease-in;
	-ms-transition: width .2s ease-in;
	transition: width .2s ease-in;
}

.js-toggle-right-slidebar {
	right: 5px;
	font-size: 40px;
	text-decoration: none;
	color: white;
	position: absolute;
	top: 0px;
}

.js-toggle-right-slidebar:hover {
	text-decoration: none;
	color: black;
}

.nav {
	border: 1px;
	background-color: white;
	height: 50px;
}

.main_img {
	margin-top: 10px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	min-width: 700px;
	height: 760px;
	max-height: 760px;
	overflow: auto;
}

.modal-content::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 5px;
}

.modal-content::-webkit-scrollbar {
	width: 6px;
	background-color: #fff;
	border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 5px;
	height: 5px;
}

.card-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.card-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	height: 100%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

[off-canvas] {
	display: none;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
	background-color: #dfdfdf;
	/* Basic background color, overwrite this in your own css. */
	color: white; /* Basic colors, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch;
	/* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[off-canvas*=right] {
	width: 200px;
	height: 100%;
	top: 0;
	right: 0;
	margin-top: 50px;
	background-color: gray;
	text-align: left;
	margin-left: 100px;
}

[off-canvas*=reveal] {
	z-index: 0;
}

[off-canvas*=push] {
	z-index: 1;
}

[off-canvas*=overlay] {
	z-index: 9999;
}

[off-canvas*=shift] {
	z-index: 0;
}

/**
 * Animation
 */
[canvas], [off-canvas] {
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: -webkit-transform 300ms;
	transition: transform 300ms;
	-webkit-backface-visibility: hidden;
	/* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
}

[off-canvas*=shift][off-canvas*=right] {
	-webkit-transform: translate(0%, 0px);
	transform: translate(0%, 0px);
}

/**
 * Print
 */
@media print {
	[canvas] {
		-webkit-transform: translate(0px, 0px) !important;
		-ms-transform: translate(0px, 0px) !important;
		transform: translate(0px, 0px) !important;
	}
	[off-canvas] {
		display: none !important;
	}
}